doctype html
html(lang="en")
    head
        title #{title}
        script(src="/javascripts/jquery-2.2.0.js")
    body
        if session == ''
            a(href='/login')
                img(src='./images/steam_login.png')
        else                
            a(href='/logout') Logout #{session}
                
