<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body style="background-color:#2C3B41;" class="hold-transition skin-purple sidebar-mini">
    <div data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h1 id="gridSystemModalLabel" class="modal-title">Add a player to your team!</h1>
            <p>Type the name of the person you want to add!</p>
            <input id="playername" type="text" style="margin-bottom: 10px; color: black; width: 100%; line-height: 1;" placeholder="Type in a player name and hit search" class="input-big"/>
            <div class="results">
            </div>
            <div class="modal-footer">
              <button style="margin-right: 10px;" type="button" data-dismiss="modal" class="close-modal btn">Close</button>
              <button style="margin-right:10px;" type="button" class="search btn foot">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ./partials/sidebar %>
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container">
          <h1 style="font-size: 40px; margin-left:13%;"><b>MAKE YOUR OWN TEAM!</b></h1>
          <h4 style=" margin-left:13%;"><i>Assemble a team to compete in the official reddit ladder league</i></h5>
          <div class="form">
            <h3>Team Name:</h3>
            <h5><i>This will be your display name for everything. This is not changeable.</i></h5>
            <input type="text" class="input teamname"/><br>
            <h3>Team Picture Link:</h3>
            <h5><i>Upload your team picture to imgur and post the png link in here.</i></h5>
            <input type="text" class="input teampicture"/><br>
            <h3>Contact Email:</h3>
            <h5><i>We wont send spam email and will only contact you in important situations.</i></h5>
            <input type="text" class="input teamemail"/><br>
            <h3>Region:</h3>
            <h5><i>Select the region in which your team is located</i></h5>
            <select class="form-control drop " name="region">
              <option value="north-america">North America</option>
              <option value="europe">Europe</option>
              <option value="south-america">South America</option>
              <option value="asia">Asia</option>
              <option value="austraia">Austraia</option>
              <option value="africa">Africa</option>
              <option value="middle-east">Middle East</option>
              <option value="oceania">Oceania</option>
              <option value="central-america">Central America</option>
            </select>
          </div>
          <div class="form">
            <h3>Add Players to your team:</h3>
            <h5><i>Select the region in which your team is located</i></h5>
            <div class="addplayers">
              <div class="addplayer noselect" id="playertwo">
                <a class="addplayerbutton">
                  <img src="./images/addicon.png" class="add">
                </a>
                <span class="space-left"> Add player</span>
              </div>
              <div class="addplayer noselect" id="playerthree">
                <a class="addplayerbutton">
                  <img src="./images/addicon.png" class="add">
                </a>
                <span class="space-left"> Add player</span>
              </div>
              <div class="addplayer noselect" id="playerfour">
                <a class="addplayerbutton">
                  <img src="./images/addicon.png" class="add">
                </a>
                <span class="space-left"> Add player</span>
              </div>
              <div class="addplayer noselect" id="playerfive">
                <a class="addplayerbutton">
                  <img src="./images/addicon.png" class="add">
                </a>
                <span class="space-left"> Add player</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
  <% include ./partials/scripts %>
  <% include ./partials/maketeamscript.ejs %>
</html>
