<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body style="background-color:#2C3B41;" class="hold-transition skin-purple sidebar-mini">
    <% include ./partials/sidebar %>
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container"></div>
          <h1>Rules</h1>
          <hr/>
          <p>By competing in these online ladders you agree to follow the rules below. Failure too follow them can and will result in expulsion from the ladder. It is recommended that players keep record of all exchanges with other teams.</p>
          <hr/>
          <ol>
            <li>Anti-competitive behavior is not allowed, forms of this include
              <ol>
                <li>Cheating in any form.</li>
                <li>Agreeing on the result of a match or "throwing".</li>
                <li>Intentionally misinforming other teams of rules.</li>
                <li>Preventing other teams from attending matches or failing to attend matches.</li>
                <li>Falsely claiming technical issues in order to gain advantage.</li>
              </ol>
            </li>
            <li>Minor offenses will result in teams being given strikes, three strikes will result in expulsion from the cup</li>
            <li>A match is defined as:
              <ol>
                <li>The winner of two out of 3 games.
                  <ol>
                    <li>A game is defined as the first team to 16 rounds with overtime if needed.</li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>A match must be played within the time specified by the Reddit Ladder League management.
              <ol>
                <li>Failure to do this will result in both teams being credited with a los and a strike.
                  <ol>
                    <li>Excepting cases where clear blame can be assigned based on evidence.</li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>A team must play within the division equivalent to the region they live in.</li>
            <li>Roster changes must be submitted on the page of the site labeled "Players portal" with proof that a majority of the teams players agree to it.
              <ol>
                <li>Stand ins or "ringers" are allowed provided the other team is provided notice and agrees to play the match.
                  <ol>
                    <li>Should a date be set for the match it cannot be changed without both teams approval. </li>
                  </ol>
                </li>
                <li>Should a team have two or fewer players available to play a match it will be counted as a forfit win provided the other team does not agree to reschedule.
                  <ol>
                    <li>A team has up to twenty minates after the scheduled time to show up, and five minutes in between maps</li>
                    <li>A team is allowed one tactical time out per half, refer to rule 1.5 for further clarification </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>Each match must have either an un-edited POV video of the match hosted on a file hosting site, or a GOTV demo submitted alongside the result to the "players portal" webpage.
              <ol>
                <li>Should a result be submitted without a POV video or GOTV demo it will not be counted as a result and the match will have to be replayed.</li>
                <li>Any evidence submitted to authenticate a matches result will be available to the public</li>
              </ol>
            </li>
            <li>Should administrative error result in a match not being playable both teams will be credited with a win.</li>
            <li>Scoring shall be 3 points for a win and 0 for a loss.</li>
            <li>The away team will be randomly chosen from one of the two teams ahead of the home team in the rankings.
              <ol>
                <li>Each home team will be given a match every Monday for the duration of the tournament and will have to complete it during the next week.</li>
                <li>The first place team will not have any home matches.</li>
                <li>The team in first place at the end of the allotted time(one month) will be declared the winner</li>
              </ol>
            </li>
            <li>Maps shall be chosen with admin supervision, please contact an admin prior to choosing maps, after you have agreed on a time.
              <ol>
                <li>Maps shall be chosen from Valve's Active Duty Map pool</li>
                <li>The maps shall be chosen by a veto consisting of, in order:
                  <ol>
                    <li>Teams each veto a map</li>
                    <li>Teams each Pick a map</li>
                    <li>Map is randomly chosen from remaining maps</li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>The following are considered unfair behavior and will result in a map loss and a strike.
              <ol>
                <li>Planting a bomb in an unreachable.</li>
                <li>"Boosts" that involve three players.</li>
                <li>Glitches that allow you see the other team through smoke or otherwise when you shouldn't.</li>
                <li>"Pixel walking"</li>
              </ol>
            </li>
          </ol>
        </h1>
      </section>
    </div>
  </body>
  <script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
  <% include ./partials/renderpic %>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="plugins/morris/morris.min.js"></script>
  <script src="plugins/sparkline/jquery.sparkline.min.js"></script>
  <script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
  <script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="plugins/knob/jquery.knob.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
  <script src="plugins/daterangepicker/daterangepicker.js"></script>
  <script src="plugins/datepicker/bootstrap-datepicker.js"></script>
  <script src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
  <script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
  <script src="plugins/fastclick/fastclick.min.js"></script>
  <script src="dist/js/app.min.js"></script>
</html>