<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body style="background-color:#2C3B41;" class="hold-transition skin-purple sidebar-mini">
    <% include ./partials/sidebar %>
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container">
          <h1 class="animated rubberBand">Sponsor RLL</h1>
          <h4 class="animated rubberBand">Monetary sponsorships can be made by clicking the corresponding buttons below. For a different type of sponsorship please contact <strong>TJB14@live.com</strong></h4>
          <button type="button" class="btn btn-primary btn-lg animated bounceInLeft"><i class="fa fa-paypal"></i> PayPal</button> <button type="button" class="btn btn-warning btn-lg animated bounceInRight"><i class="fa fa-btc"></i> Bitcoin</button>
        </div>
      </section>
    </div>
  </body>
  <% include ./partials/scripts %>
</html>