<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body style="background-color:#2C3B41;" class="hold-transition skin-purple sidebar-mini">
    <% include ./partials/sidebar %>
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container">
        <iframe class="animated bounceIn" src="https://discordapp.com/widget?id=146248235499913216&theme=dark" width="1000" height="700" allowtransparency="true" frameborder="0"></iframe>
        </div>
      </section>
    </div>
  </body>
  <% include ./partials/scripts %>
</html>