<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body style="background-color:#2C3B41;" class="hold-transition skin-purple sidebar-mini">
    <% include ./partials/sidebar %>
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container">
          <p>Username: <%= profileusername %></p>
          <p>Picture: <%= profilepicture %></p>
          <p>Steamid: <%= profilesession %></p>
        </div>
      </section>
    </div>
  </body>
  <% include ./partials/scripts %>
</html>