*{
  font-family: 'Roboto', sans-serif;
}

.sidebar-header{
    font-size: 20px;
}

.sidebar-header-top{
    height: 120px;
}
.container-off{
margin: 20px;
}

.login-button{
	padding:15px;
}
.brand-logo{
	width: 200px;
	margin: 13px;
}
.modal-playercard{
  width: 100%;
  border-radius: 10px;
  background-color: #222D32;
  height: 50px;
  padding: 7px;
  margin-bottom: 10px;
}
.modal-content{
  padding: 10px;
  background-color: #2C3B41;
  border-radius: 20px;
}

.modal-title{
  font-size: 30px;
}
.input-big{
  height: 45px;
  width: 300px;
  font-size: 19px;
  padding-left: 15px;
  border: none;
  margin: auto;
  border-radius: 10px;
  color:black;
  outline: none;
}

.input {
    height: 40px;
    width: 300px;
    transition: 500ms all ease;
    font-size: 19px;
    padding-left: 15px;
    border: none;
    margin: auto;
    border-radius: 10px;
    color:black;
    outline: none;
}
.addplayermodal{
  float:right;
}

.add{
  width:40px;
}
.add-small{
  width: 30px;
  float: right;
}

.addplayer:hover,
.addedplayer:hover{
  background-color: #1A2226
}
.modal-playercard:hover{
  background-color: #222D32
}

.modal-footer{
  padding: 0px;
  border: none;
}

.auto{
  display: block;
  height: auto;
  width: 100%;
}

.addpic-small{
  width:35px;
  border-radius: 50px;
  float: left;
}

.addpic{
  width:50px;
  border-radius: 50px;
  float: left;
}

.removeplayer{
  float: right;
}

.remove{
    padding-top: 3px;
    width: 40px;
}
.btn{
  background-color: #222D32;
  border:none;
  border-radius: 10px;
  color: white;
  font-size: 17px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:target{
  background-color: #1E282C;
  color: white;
  outline: 0;
}

.noselect{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor:default;
}

.space-left{
  padding-left: 10px;
}

.space-right{
  padding-right: 10px;
}
.form{
  float:left;
  display:inline-block;
  margin: 20px;
}
.addplayers{
  display:inline-block;
  float:left;
  height: 440px;
  width: 430px;
  border-radius: 10px;
  background-color: #222D32;
  padding: 15px;
}

.addplayer{
  margin-bottom: 15px;
  padding: 15px;
  width: 400px;
  height: 70px;
  border-radius: 10px;
  background-color:#1E282C;
  font-size: 20px;
}

.playername-small{
  float:left;
  font-size: 20px;
  padding-top: 3px;
  padding-left: 10px;
}

.playername{
  float:left;
  font-size: 30px;
  padding-left: 10px;
}

.addedplayer{
  margin-bottom: 15px;
  padding: 12px;
  width: 400px;
  height: 70px;
  border-radius: 10px;
  background-color:#1E282C;
}
.bigtitle {
  font-size: 40px;
}
.drop{
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   height: 40px;
   width: 170px;
   transition: 500ms all ease;
   font-size: 19px;
   padding-left: 15px;
   border: none;
   border-radius: 10px;
   color:black;
   outline: none;
}

.center-text{
  text-align: center;

}

.drop:active,
.drop:target,
.drop:focus{
  transition: 400ms all ease;
  background-size: 25px 25px;
  vertical-align: middle;
  padding-left: 15px;
  outline: none;
}

.input:hover,
.input:focus {
    width: 350px;
    transition: 400ms all ease;
    background-size: 25px 25px;
    vertical-align: middle;
    padding-left: 15px;
    outline: none;
}
